/*Sidebar*/
#sidebar-p{
    background-color:  #02063D;
    border-right: 1px solid #fff9;
}

/*Nav*/
#navbar-p {
    background: linear-gradient(-45deg,  #0c0a75, #02063d);
    animation: gradientBG 15s ease infinite;
    background-size: 400% 400%;
    color: #fff;
}

/*NAV-EFECTO DE TRANSICION DE COLORES*/
@keyframes gradientBG {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/*Elementos del navbar*/

.nav-link {
    color: #aaa !important ;
}

#container-form{
    width: 90%  !important;
}

.card-header{
    display: flex;
    
}
.card-title{
    display: flex;
    flex: 1;
    align-items: center;
    
}
.info-box{
    margin: 0%;
    min-height: 50px !important;
    max-width: 200px ;
}

.info-box-text{
    color: #000;
    
}

.info-box-icon{
    width: 45px !important;
    height: 45px !important;
}

